<h1>IKS Mitarbeiter</h1>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mitarbeiter of mitarbeiterListe">
        <td>
          <span>{{mitarbeiter.name}}</span>
        </td>
        <td>
          <a class="btn btn-success btn-xs">Anzeigen</a>
          <a class="btn btn-warning btn-xs" (click)="bearbeiteMitarbeiter(mitarbeiter.id)">Bearbeiten</a> 
          <a class="btn btn-danger btn-xs">Löschen</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
